/* font size  */
$baseFontSize: 18px;
$secondFontSize: 16px;
$titleFontSize: 40px;

/* font family */
$fontMontserrat: 'Montserrat', sans-serif;
$fontWorkSans: 'Work Sans', sans-serif;
$fontRubik: 'Rubik', sans-serif;

/* COLORS  */
$whiteColor: #ffffff;

//main and for text
$textColor: #4B5D68;
$titleTextColor: #212353;

//for button
$btnColor: #9C69E2;
$btnWhiteColor: #FFFFFF;
$btnPinkColor: #F063B8;
$hoverVioletColor: #8A40EE;
$hoverPinkColor: #EB4BAB;

//for icon and link
$hoverTwitterColor: #00ACEE;
$hoverFacebookColor: #3B5998;
$hoverInstagramColor: #C13584;
$linkHoverColor: #8A40EE;

//back-ground color
$lightPink: #FDE8F5;
$lightMint: #F0FAF9;
$lightRose: #F6F0FD;
$pink: #FEF0F8;
$coldBlue: #EAF6FC;
$greyBlue: #CCDDFF;

/* Transition  */
$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);