.datawarehouse {
    &__container {
    min-height: 489px;
    background-image: url("../img/first-screen-img.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    }

    &__title {
    max-width: 601px;
    margin-bottom: 50px;

    font-family: $fontWorkSans;
    font-weight: 700;
    font-size: 80px;
    line-height: 1.1;
    color: $titleTextColor;
    }

    &__text {
    max-width: 370px;
    margin-bottom: 50px;
    
    font-weight: 500;
    line-height: 1.6;
    }

}