.free-try {
    &__callword {
        font-family: $fontWorkSans;
        font-weight: 700;
        font-size: $titleFontSize;
        line-height: 1.3;
        color: $titleTextColor;
        margin-bottom: 20px;
    }

    &__proposal {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.6;
    }

    .button-learn {
        background-color: $btnPinkColor;
        transition: background-color $transition;
            
            &:hover,
            &:focus {
                background-color: $hoverPinkColor;
            }
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__buttons {
        display: flex;
        gap: 30px;
    }
}