.logo {
    display: inline-block;
    padding: 32px 0;
}

.navigation {
    display: flex;
    gap: 40px;

&__link {
    display: inline-block;
    padding: 32px 0;

    font-weight: 500;
    font-size: $secondFontSize;
    line-height: 1.6;
    color: $textColor;
    transition: color $transition;

    &:hover, &:focus {
        color: $linkHoverColor;
    }
}
}

.nav {
    display: flex;
    align-items: center;
    gap: 120px;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

